<%= simple_nested_form_for(@form) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>

  <%= f.simple_fields_for :authors do |author_form| %>
    <h4>Author</h4>
    <%= author_form.input :name  %>
    <%= author_form.link_to_remove "Delete author" %>
    <hr />
    <%= author_form.simple_fields_for :emails do |email_form| %>
      <h4>Email</h4>
      <%= email_form.input :address %>
      <%= email_form.link_to_remove "Delete email" %>
      <hr />
    <% end %>
    <%= author_form.link_to_add "Add email", :emails %>
  <% end %>
  <%= f.link_to_add "Add author", :authors %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
